$primaryColor: #FF9900;
$mainBackground: url(../img/electrician-installer-with-tool-his-hands-working-with-cable-construction-site\ 1.jpg);
$yellowAccent: #FFB800;
$aboutBackground: url(../img/charles-deluvio-c2thq3SXJiA-unsplash\ 1.png);
$floorPlanBackground: url(../img/two-bedroom-x2--plan\ 2.png);
$reviewsBackground: url(../img/handyman-uses-jackhammer-for-installation-professional-worker-on-the-construction-site-the-concept-of-electrician-and-handyman\ 1.png);
